<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        {% load crispy_forms_tags %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    </head>
    <body>
        <div class="login_form">
            <form method="POST" action="{% url 'login'%}">
                {%csrf_token%}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 justify-content-center"><h1> Login Form</h1></div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{form.username|as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12">{{form.password|as_crispy_field }}</div>
                    </div>
                    <button class="btn btn-primary" type="submit" id="login_button">Login</button>
                </div>
            </form>
        </div>
         {% if form.errors %}
            <script>
                 alert("Invalid username/password!");
            </script>
        {% endif %}
    </body>