<html>
    <head>
        <title>Mainpage</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    </head>
<body>
    {%if user.is_authenticated %}
    <h1>Heyyo {{user.username}} !</h1>
    <br>
    <a href="{% url 'logout'%}" class="btn btn-primary" id="logout_button">Logout</a>
    {% else %}
    <h1>Hello Stranger!</h1>
    <br>
    <a href="{% url 'login'%}" class="btn btn-primary" id="login_button">Login</a>
    {%endif%}
</body>